# Homework 03 - Classification

## Preparations

The data set `bank-full.csv` has been downloaded previous week already.

### Dependencies

In [32]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score

### Load and Prepare Data

In [22]:
# define path to data
PATH_DATA = Path("../data/bank_marketing/bank/bank-full.csv")

# read data
data_bank_full = pd.read_csv(PATH_DATA, sep=";")
data_bank_full

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [23]:
# not all columns are used in exercise
# select those that are

# make list containing used columns
feature_columns = [
    'age',
    'job',
    'marital',
    'education',
    'balance',
    'housing',
    'contact',
    'day',
    'month',
    'duration',
    'campaign',
    'pdays',
    'previous',
    'poutcome',
]

# select features from full data
X = data_bank_full[feature_columns]

# select labels from full data
y = data_bank_full["y"]

In [24]:
# get full train and test sets from full data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [25]:
# get train and validation sets from full train set
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.25, random_state=1)

## Question 1

Compare these features regarding their importance using AUROC:

```
balance
day
duration
previous
```

The idea behind this

In [46]:
# define a list of the features to compare
features_compare_importance = [
    "balance",
    "day",
    "duration",
    "previous"
]

# define function for calculating AUROC as feature importance
def auroc_feature_importance(feature, X_t=X_train, y_t=y_train):

    # calculate AUROC
    auroc_feature = roc_auc_score(y_true=y_t, y_score=X_t[feature])
    
    # check if AUROC is less than 0.5
    # if yes, invert variable to get feature importance
    # then calculate again
    if auroc_feature < 0.5:
        y_score = -X_t[feature]
        auroc_feature = roc_auc_score(y_true=y_t, y_score=y_score)
    
    # pack feature name and AUROC result into one tuple
    result_comparison = (feature, auroc_feature)
    
    return result_comparison
    
    
# iterate through the list and get AUROC for each of the features
for feature in features_compare_importance:
    print(auroc_feature_importance(feature=feature))

('balance', np.float64(0.5888313805382317))
('day', np.float64(0.525957882383908))
('duration', np.float64(0.8147002759670778))
('previous', np.float64(0.5985653242764153))

The feature `duration` has the highest AUC.

## Question 2